.actions button {
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    color: #1c3c47;
    margin: 4px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid transparent;
}

.actions button:hover {
    background-color: #1c3c47;
    color: #fff;
    border-color: #fff;
    transition: all 0.4s;
}

.delete {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.addBtn {
    margin-top: 15px;
}

.loading {
    position: relative;
    margin: 5px 16px 5px;
}

.loader {
    max-width: 25px;
    background-color: #fff;
    border-radius: 50%;
}

.tableLoader {
    position: relative;
    margin-top: 60px;
}