* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c3c47;
    color: #fff;
    letter-spacing: 1px;
    font-family: Inter,sans-serif;
}

button {
    border: none;
}
:global(.Toastify__toast-theme--dark) {
    font-size: 14px;
}